* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
}

.cabecalho {
    background-color: #00c2ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    height: 80px;  
}

.cabecalho-imagem {
    width: 62px;
    height: 62px;
}

.cabecalho-logo {
    width: 62px;
    height: 62px;
}

.cabecalho-menu {
    display: flex;
    gap: 25px;
}

.cabecalho-menu-item {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 400;
    font-size: 14pt;
}

.conteudo {
    background-color: white;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    align-items: center;
}

.conteudo-principal-titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48pt;
    font-weight: 400;
    color: white;
    margin-top: 70px;
}

.conteudo-principal-titulo-linha {
    width: 100px;
    background-color: white;
    height: 3px;
}

.conteudo-principal-paragrafo {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    font-style: italic;
}

.conteudo-principal-subtitulo1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color: white;
}

.conteudo-principal-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color: #00c2ff;
    border: 3px solid; 
    width: 180px;
    border-color: #00c2ff;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
}

.conteudo-principal-subtitulo2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    color: black;
    margin-top: 25px;
}

.conteudo-principal-titulo-linha3 {
    width: 100px;
    background-color: black;
    border: black;
    height: 3px;
}

.conteudo-principal-imagem {
    width: 100%;
    height: auto;
    position: absolute;
}

.imagem-conteudo-principal {
    width: 100%;
    height: 490px;
}

.produtos {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.produtos-caixa1 {
    background-color: black;
    width: 300px;
    height: 320px;
    margin-left: 20px;
    margin-top:20px;
}

.produtos-caixa2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #00c2ff;
    width: 300px;
    height: 120px;
    margin-top: 200px;
}

.produtos-caixa2-titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    font-weight: bold;
    color: black;
}

.produtos-caixa2-titulo-linha {
    width: 60px;
    background-color: black;
    height: 3px;
    border: black;
}

.produtos-caixa2-paragrafo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    color: black;
    text-align: center;
    padding: 10px;  
}

.produtos-rodape {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.produtos-rodape-paragrafo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    color: black;
    padding: 10px;  
}

.produtos-rodape-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color: #00c2ff;
    border: 3px solid; 
    width: 180px;
    border-color: #00c2ff;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

.portifolio {
    background-color: black;
    height: auto;
    margin-top: 50px;
}

.portifolio-cabecalho {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.portifolio-cabecalho-titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    color: #00c2ff;
}

.portifolio-cabecalho-titulo-linha {
    width: 60px;
    background-color: #00c2ff;
    height: 3px;
    border: #00c2ff;
}

.portifolio-imagens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px
}

.imagem-portifolio {
    width: 446px;
    height: 298px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.portifolio-imagem {
    width: 446px;
    height: 298px;
}

.portifolio-rodape {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.portifolio-rodape-paragrafo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    color: white;
    padding: 10px;  
}

.portifolio-rodape-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color: #00c2ff;
    border: 3px solid; 
    width: 180px;
    border-color: #00c2ff;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 30px;
}

.parcerias {
   width: 100%;
   height: auto;
}

.parcerias-cabecalho {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.parcerias-cabecalho-titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    color: black;
    margin-top: 20px;
}

.parcerias-cabecalho-titulo-linha {
    width: 60px;
    background-color: black;
    height: 3px;
    border: black;
}

.parcerias-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.parcerias-container-caixa{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 288px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.parcerias-container-caixa-titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    font-weight: bold;
    color: black;
    margin-top: 20px;
}

.parcerias-container-caixa-titulo-linha {
    width: 60px;
    background-color: black;
    height: 3px;
    border: black;
}

.parcerias-container-caixa-paragrafo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    color: black;
    padding: 10px;
    text-align: center; 
}

.parcerias-container-caixa-imagem {
    width: 288px;
    height: 288px;
}

.parcerias-rodape {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.parcerias-rodape-paragrafo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    color: black;
    padding: 10px;
}

.parcerias-rodape-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color: #00c2ff;
    border: 3px solid; 
    width: 180px;
    border-color: #00c2ff;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 30px;
}

.final{
    background-color: black;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.final-caixa {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.final-caixa2 {
    margin-top: 10px;

}

.final-caixa-titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    font-weight: bold;
    color: #00c2ff;
}

.final-caixa-titulo-linha {
    width: 60px;
    background-color: #00c2ff;
    height: 3px;
    border: #00c2ff;
}

.final-caixa-paragrafo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    color: white;
    margin-top: 10px;
}

.final-caixa-imagem {
    padding: 15px;
}

.rodape {
    background-color: #00c2ff;
}

.rodape-caixa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-left: 70px;
}

.rodape-caixa-pagagrafo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: black;
    text-align: left;
}

.principal-sobre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 200px;
}
.principal-sobre-imagem {
    display: flex;
    width: 820px;
    height: 547px;
}

.sobre-imagem {
    width: 820px;
    height: 547px;
}

.principal-sobre-escrito {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    margin-top: 100px;
}

.principal-sobre-escrito-titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
}

.principal-sobre-escrito-titulo-linha {
    width: 60px;
    background-color: black;
    height: 3px;
    border: black;
    margin-left: auto;
    margin-right: auto;
}

.principal-sobre-escrito-paragrafo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
    text-align: left;
}

.secundaria-sobre-cabecalho {
    margin-top: 50px;
    margin-bottom: 50px;
}
.secundaria-sobre-cabecalho-titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
}

.secundaria-sobre-cabecalho-titulo-linha {
    width: 60px;
    background-color: black;
    height: 3px;
    border: black;
    margin-left: auto;
    margin-right: auto;
}

.secundaria-sobre-container-meio {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.secundaria-sobre-meio-caixa-linha {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    justify-items: center   ;
    width: 300px;
}

.secundaria-sobre-meio-linha {
    width: 3px;
    background-color: black;
    height: 28px;
    border: black;
}

.secundaria-sobre-meio1 {
    border-top: 3px solid black;
    border-left: 3px solid black;
    width: 300px;
    height: 83px;
}

.secundaria-sobre-meio2 {
    border-top: 3px solid black;
    border-right: 3px solid black;
    width: 300px;
    height: 83px;
}

.secundaria-sobre-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.secundaria-sobre-container-caixa {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 288px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.secundaria-sobre-container-caixa-titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    font-weight: bold;
    color: black;
    margin-top: 20px;
}

.secundaria-sobre-container-caixa-titulo-linha {
    width: 60px;
    background-color: black;
    height: 3px;
    border: black;
}

.secundaria-sobre-container-caixa-paragrafo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    color: black;
    padding: 10px;
    text-align: center; 
}

.contato-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 200px;
}

.contato-principal-formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    justify-content: left;
}

.contato-principal-formulario-campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 400px;
    height: 40px;
}

.contato-principal-formulario-mensagem{
    display: flex;
    flex-direction: column;
}
input{
    border: 3px solid #00c2ff;
    width: 400px;
    padding: 3px;
}

textarea{
    border: 3px solid #00c2ff;
    width: 400px;

}

.contato-principal-formulario-campo-paragrafo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    
}

.contato-principal-formulario-mensagem {
   margin-top: 30px;
}

.botao{
    border: 3px solid #00c2ff;
    padding: 5px;
    margin-top: 10px;
    width: 100px;
}

.contato-principal-dados-titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    font-weight: bold;
    color: #00c2ff;
    margin-top: 10px;
    margin-bottom: 20px;
}

.contato-principal-dados-paragrafo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
}

.mapa {
    display: flex;
   justify-content: center;
   margin-top: 50px;
   margin-bottom: 100px;
}

.portifolio-principal-paragrafo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
    font-style: italic;
    color: black;
    text-align: center;
    margin-top: 200px;
}

.portifolio-principal-subtitulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    text-align: center;
    padding: 20px;
}

.conteiner-portifolio-imagens {
    background-color: black;
    margin-bottom: 200px;
}

.portifolio-slides {
    width: 100%;
    height: 670px;
    overflow: hidden;
}
    
.slide-imagem-1 {
    width: 1400px;
    height: 670px;
}

.slide-imagem {
    width: 1400px;
    height: 670px;
}

.navegacao {
    background-color: white;
}