header{
    margin-top: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: end;
    background-color: #00c2ff;
}
a{
    margin-right:20px;
    margin-top: 30px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color: black;
}
section{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}
img{
    width: 100%;
    height: 100%;
    position: absolute;
}
h1{
    text-align: center; font-size: 38pt;
    color: white;
    position: relative;
    margin-top: 50px;
}
p{
    text-align: center;
    color: white;
    position: relative;
}
h2{
    text-align: center;
    color: black;
    position: relative;
    margin-top: 70px;
    border-bottom: 3px solid; padding: 10px; width: 150px; margin-left: 44%;
}
h3{
    text-align: center; padding: 3px;
    color: #00c2ff;
    position: relative;
    border: 3px solid; width: 150px; margin-left: 44%;
    border-color: #00c2ff;
}
h4{
    text-align: center;
    color: white;
    position: relative;
}
hr{
    width: 100px;
    background-color: white;
    height: 2pt;
    size: 50px;
    position: relative;  
}
footer{
    background-color: #00c2ff;
    width: 100%;
    height: 80px;
    display: flex;
}
#p_footer{
    color: black;
    text-align: left;
    margin-left: 100px;
    margin-top: auto;
    margin-bottom: auto;
}
#produtos{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 250px;
    margin-top: 70px;
}
.img{
    background-color: black;
    width: 250px;
    height: 300px;
    margin-left: 20px;
    margin-top:20px;
}   
.descr{
    background-color: #00c2ff;
    width: 250px;
    height: 100px;
    margin-top: 200px;
}
#conteiner{
    background-color: black;
    height: auto;
}
.portifolio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px
}
.cont{
    width: 500px;
    height: 400px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
.img_port{
    width: 500px;
    height: 400px;
}
div{
    width: 100%;
    height: auto;
}
.parcerias{
    background-color: white;
}
.parcerias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.logo_parc{
    width: 450px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
}
.img_parc{
    width: 450px;
    height: 450px;
}
.final{
    background-color: black;
    width: 100%;
    height: auto;
}